.producto-categoria{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  height: 50px;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
}

.producto-categoria img{
  object-fit: cover;
  height: 100%;
  aspect-ratio: 1/1;
}

.producto-categoria p{
  font-weight: bold;
  font-size: 20px;
  color: black;
}