.favorito{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3px;
}
.favorito p{
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.foto-producto{
  position: relative;
  
}

.imagen-producto{
  object-fit: cover;
  height: 100%;
}

.corazon{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -15px;
  right: -15px;

  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 5px;
}
.corazon img{
  object-fit: cover;
  width: 100%;
}
