/* --------------------------------------------------
              ESTILOS GENERALES
-------------------------------------------------- */

*{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  justify-content: center;
}

/* --------------------------------------------------
                    CONTENEDOR GENERICO
-------------------------------------------------- */
.centrar-contenido{
  max-width: 500px;
}
/* --------------------------------------------------
                    HEADER CARRITO 
-------------------------------------------------- */

.header-carrito{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500; 
  font-size: 1.5em; 
  padding: 10px;
  margin-bottom: 20px;

  background-color: white;
  position:sticky;
  top: 0px;
  box-shadow: 0px 5px 20px rgb(226, 226, 226);
}

.header-carrito p:nth-child(2){
  text-align: end;
}

.header-carrito p:nth-child(2) span{
  font-weight: bold;
}
/* --------------------------------------------------
              CONTENEDOR DEL CARRITO
-------------------------------------------------- */
.conteiner-itemsCarrito{
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0px 10px;
}

/* --------------------------------------------------
                  OPCIONES
-------------------------------------------------- */

.opciones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;

  padding: 0px 10px;
}

.opciones a{
  margin-top: 20px;
  padding: 10px;
  border-style: none;
  box-shadow: 5px 5px 5px 0px rgb(204, 204, 204);
  font-size: 1.05em;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opciones a:nth-child(1){
  background-color: #F5F5F5;
  color: gray;
  font-weight: 500;
}

.opciones a:nth-child(2){
  background-color:#FF8617;;
  color: white;
  font-weight: bold;
}