a{
  text-decoration: none;
  color: black;
}
body{
  display: flex;
  justify-content: center;
}

.CONTENEDOR-GENERAL{
  width: 100%;
  max-width: 700px;
}
/* --------------------------------------------------
          CONTENEDOR HEADER
-------------------------------------------------- */
.header{
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav a{
  padding: 5px;
  font-size: 1em;
}

.conteiner-user-perfil{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow: hidden;
}

.conteiner-user-perfil img{
  width: 100%;
  object-fit: cover;
}

/* --------------------------------------------------
          CARRUSEL
-------------------------------------------------- */
.conteiner-carrusel{
  margin-bottom: 10px;
}
.header-carrusel{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 0px 10px;
}
.indicador-carrusel button{
  border-radius: 0px;
  width: 30px;
  height: 5px;
}

.indicador-carrusel .glider-dot.active {
  background:#FF7A00;
}

/* --------------------------------------------------
              CATEGORIAS
-------------------------------------------------- */
.conteiner-categorias{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}
.conteiner-categorias a{
  padding: 10px;
  text-wrap: nowrap;
}

/* --------------------------------------------------
          ESTILO DE ACTIVACIÓN
-------------------------------------------------- */
.activo-nav{
  background-color: #FF7A00;
  color: white;
}
.activo-categoria{
  background-color: #FF7A00;
  color: white;
}