a{
  text-decoration: none;
  color: black;
}
body{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.CONTENEDOR-GENERAL{
  width: 100%;
  max-width: 700px;
}
/* --------------------------------------------------
          CONTENEDOR HEADER
-------------------------------------------------- */
.header{
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner-img-user{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-img-user img{
  height: 100%;
  object-fit: cover;
}

.header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav a{
  padding: 5px;
  font-size: 0.8em;
}

.conteiner-user-perfil{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow: hidden;
}

.conteiner-user-perfil img{
  width: 100%;
  object-fit: cover;
}

/* --------------------------------------------------
          CARRUSEL
-------------------------------------------------- */
.conteiner-carrusel{
  margin-bottom: 10px;
  margin-top: 20px;
}
.header-carrusel{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 0px 10px;
}
.header-carrusel p{
  font-size: 1.2em;
  font-weight: bold;
}
.indicador-carrusel button{
  border-radius: 0px;
  width: 30px;
  height: 5px;
}

.indicador-carrusel .glider-dot.active {
  background:#FF7A00;
}

/* --------------------------------------------------
              CATEGORIAS
-------------------------------------------------- */
.conteiner-categorias{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  margin-top: 30px;
}
.conteiner-categorias a{
  padding: 10px;
  text-wrap: nowrap;
}

/* --------------------------------------------------
          ESTILO DE ACTIVACIÓN
-------------------------------------------------- */

.conteiner-producto{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 10px;

  border-color: #FF7A00;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}

/* --------------------------------------------------
          ESTILO DE ACTIVACIÓN
-------------------------------------------------- */
.activo-nav{
  background-color: #FF7A00;
  color: white;
}
.activo-categoria{
  background-color: #FF7A00;
  color: white;
}

/* --------------------------------------------------
          MEDIA KUERIES
-------------------------------------------------- */
@media (width < 660px){
  .conteiner-producto{
    grid-template-columns: 1fr 1fr;
  }
}